
.login50-form-title {
    display: block;
    font-size: 23px;
    color: #6B6B6B;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
}
.add-Address-button {
    padding: 10px;
    width: 200px;
    height: 150px;
    border: 2px dashed #bababa;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 20px;
    font-weight: 700;
    color: #757575;
    font-size: 14px;
    flex-direction: column;
    cursor: pointer;
    background: #fff;
}
.add-address {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #eee;
}
.add-address-modal {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    background: #e6e1e1eb;
    min-height: 100vh;
}
.add-address-modal form {
    background-image:linear-gradient( 149deg, #b569f3, #000000);
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    position: relative;
}
.close-modal {
    position: absolute;
    right: 7px;
    top: 5px;
}
.close-modal img{
    width: 17px;
    cursor: pointer;
    transform: rotate(45deg);
}
.add-address-modal .form input,.add-address-modal  .form input:focus,.add-address-modal  .form input:focus-visible {
    outline: none;
    margin-top: 30px;
    font-size: 17px;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 42px;
    background: transparent;
    padding: 0 5px;
    font-weight: normal;
    border: none;
    border-bottom: 2px solid #fff;
    height: 46px;
    color: #fff;
}
.secoundry-button {
    background: #fff;
    color: #613c86;
    border-radius: 20px;
    border: none;
    padding: 7px 40px;
    margin-top: 12px;
}
.form input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
.form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
.form input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
.form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
.form input::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

.form input::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}
.css-1s2u09g-control,
.css-1pahdxg-control {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid #fff !important;
    border-radius: 0 !important;
    margin-top: 22px !important;
    text-align: left !important;
    color: #fff !important;
}
.css-319lph-ValueContainer {
    padding-left: 0 !important;
}
.css-14el2xx-placeholder,
.css-qc6sy-singleValue,
.css-1pndypt-Input {
    color: #fff !important;
}
.css-1okebmr-indicatorSeparator {
    display: none !important;
}
@media screen and (max-width: 767px) {
   
  }
