@font-face {
  font-family: "montserrat-medium";
  src: url("./assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

body, * {
  margin: 0;
  font-family: 'montserrat-medium' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
